@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  color: #f1f1f1;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: #0d1117;
  margin: 0 auto;
}

hr {
  border: 1px solid gray;
  margin: 10px;
}

@media screen and (min-width: 1140px) {
  body {
    width: 1140px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-track {
  background-color: #0d1117;
}
