@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: #17171b;
  margin: 0 auto;
}

hr {
  border: 1px solid gray;
  margin: 10px;
}

@media screen and (min-width: 1140px) {
  body {
    width: 1140px;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.float {
  animation: float 5s ease-in-out infinite;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #6b7280;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

#LinkList_Main::-webkit-scrollbar {
  display: none;
}

.view .react-grid-item.cssTransforms {
  transition-property: none !important;
}

.react-grid-item.react-grid-placeholder {
  background-color: rgb(37 99 235) !important;
  border-radius: 0.5rem !important;
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;
}

.react-grid-item > .react-resizable-handle::after {
  color: #f1f1f1 !important;
  width: 8px !important;
  height: 8px !important;
  margin-right: 1px !important;
  margin-bottom: 1px !important;
  border-bottom-right-radius: 6px !important;
  border-right: 2px solid rgb(107 114 128) !important;
  border-bottom: 2px solid rgb(107 114 128) !important;
}

.relative:hover .absolute {
  opacity: 100;
  visibility: visible;
}

.markdown-content {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.markdown-content h1 {
  font-size: 24px;
}

.markdown-content h2 {
  font-size: 20px;
}

.markdown-content h3 {
  font-size: 18px;
}

.markdown-content h4 {
  font-size: 16px;
}

.markdown-content h5 {
  font-size: 14px;
}

.markdown-content ul {
  padding-left: 20px;
}

.markdown-content ol {
  margin-bottom: 16px;
  padding-left: 20px;
}

.markdown-content li {
  margin-top: 8px;
  margin-bottom: 8px;
  list-style: disc;
}

.markdown-content a {
  color: rgb(37 99 235);
  text-decoration: none;
}

.markdown-content a:hover {
  text-decoration: underline;
}
